body {
  font-family: system-ui;
  background: #f06d06;
  color: black;
  text-align: left
    ;
  .center{
    margin: 0;
     position:;
    top: 50%;
  left: 50%;
  }
  /* Centered Image Code */
  
}